<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
<body>
    <nav th:fragment="nav">
        <ul class="lista">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/producto/listado}">Productos</a></li>
            <li><a th:href="@{/consejos}">Consejos de salud</a></li>
            <li><a href="#">Servicio de paseo</a>
                <ul>
                    <li><a th:href="@{/paseos}">Horarios</a></li>
                    <li><a th:href="@{/paseos/paseadores}">Paseadores</a></li>
                </ul>
            </li>
            <li><a th:href="@{/sucursal/listado}">Sucursales</a></li>
            <li><a th:href="@{/contactenos}">Contactenos</a></li>
        </ul>
    </nav>
</body>
</html>