<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{/layouts/head :: head}"></head>
<body>
	<header th:replace="~{/layouts/header :: header}"></header>
	<nav th:replace="~{/layouts/nav :: nav}"></nav>
	<div id="container-mid">
		<section class="contactenos">

			<form>

				<h3> Contactenos</h3>
				<p>3915 AV. General Belgrano, 388-4999999</p>
				<p>Lunes a Viernes: 9:00 a.m. a 8:00 P.m.</p>
				<p>Sabado a Domingo: 9:00 a.m. a 12:30 P.m.</p>
				<a href="https://mail.google.com/"> contactos@gmail.com.ar</a>

				<ul class="listaRedes">
					<li><a href="https://www.facebook.com/">Facebook</a></li>
					<li><a href="https://www.instagram.com/">Instagram</a></li>
					<li><a href="https://www.twiter.com/">Twitter</a></li>
				</ul>

				<div>
					<label for="nombre"> Nombre</label>
					<input type="text" placeholder="ingrese su nombre" name="nombre" id="nombre">

				</div>

				<div>
					<label for="email"> Email</label>
					<input type="email" placeholder="ingrese su email " name="email" id="email">
				</div>

				<div>

					<label for="ciudad"> Ciudad</label>
					<input type="text" placeholder="ingrese ciudad " name="ciudad" id="ciudad">

				</div>

				<div>
					<label for="mensaje"> Mensaje</label>
					<textarea name="mensaje" id="mensaje">  </textarea>


				</div>




				<input class="boton" type="submit" value="Enviar">

			</form>
		</section>
		<aside th:replace="~{/layouts/aside :: aside}" class="content-aside"></aside>
	</div>


	<footer th:replace="~{/layouts/footer :: footer}" class="classefooter">
	</footer>


</body>

</html>