<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Consejos de salud</title>
	</head>
	<body>
		<header id=inicio>
			<h1>Tienda de mascotas pata de Oro</h1>
			<img src="../static/images/logoT.jpg" alt="Logo de tienda" title="Un logo con un perro y gato">
		</header>
		<section>
			<h3>Consejos de salud para cuidar a tu mascota:</h3>
				<ol>
					<li>Mantén a tu mascota al día con sus vacunas: Es importante que tu mascota esté al día con sus vacunas para protegerla contra enfermedades peligrosas. Consulta con tu veterinario para determinar qué vacunas son necesarias para tu mascota.</li>
					<li>Dale una dieta equilibrada: Una dieta equilibrada es esencial para la salud de tu mascota. Asegúrate de proporcionarle una alimentación adecuada y evitar darle alimentos que no sean adecuados para su especie.</li>
					<li>Ejercicio regular: Al igual que los humanos, los animales necesitan hacer ejercicio regularmente para mantenerse en forma y saludables. Asegúrate de proporcionarle a tu mascota suficiente actividad física diaria.</li>
					<li>Mantén su higiene: Es importante mantener a tu mascota limpia y libre de pulgas, garrapatas y otros parásitos. Baña y cepilla a tu mascota regularmente y asegúrate de proporcionarle atención veterinaria regular para detectar cualquier problema de salud.</li>
					<li>Evita productos tóxicos: Muchos productos del hogar, como plantas y productos químicos, pueden ser tóxicos para las mascotas. Mantén estos productos fuera del alcance de tu mascota para evitar cualquier peligro.</li>
					<li>Monitorea su salud dental: La salud dental es importante para la salud general de tu mascota. Asegúrate de cepillarle los dientes regularmente y proporcionarle juguetes adecuados para ayudar a mantener sus dientes limpios y sanos.</li>
					<li>Presta atención a su comportamiento: Tu mascota no puede decirte cuándo algo no está bien, por lo que es importante prestar atención a su comportamiento y detectar cualquier cambio que pueda indicar un problema de salud. Si notas algún cambio en el comportamiento de tu mascota, consulta a tu veterinario.</li>
					<li>Proporciona un ambiente seguro: Mantén a tu mascota en un ambiente seguro y protegido, lejos de peligros potenciales como calles transitadas, cuerpos de agua y productos químicos peligrosos.</li>
				</ol>
				<aside>
				<h3>Tambien le puede interesar: </h3>
				<ul>
					<li><a href="https://www.royalcanin.es/articulos/alimentacion-y-nutricion-para-perros-y-gatos" target="_blank">Dieta equilibrada para mascotas.</a></li>
					<li><a href="https://essentialspetcare.com/es/what-vaccines-do-dogs-need-yearly/" target="_blank">Vacunas para mascotas.</a></li>
					<li><a href="https://www.rover.com/es/blog/guia-para-hacer-ejercicio-con-tu-perro-en-casa/" target="_blank">Ejercicio para mascotas.</a></li>
					<li><a href="https://www.purina-latam.com/mx/purina/nota/perros/higiene-en-mascotas" target="_blank">Higiene para mascotas.</a></li>
					<li><a href="https://www.fda.gov/animal-veterinary/animal-health-literacy/articulos-potencialmente-peligrosos-para-su-mascota" target="_blank">Productos tóxicos para mascotas.</a></li>
				</ul>
				</aside>
			<br>
            <div>
                <a href="index.html">Volver >> </a>
            </div>   
		</section>
	</body>
</html>