<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:replace="~{layouts/head::head}"></head>

	<body>
		 <header th:replace="~{layouts/header::header}"></header>
			
	<nav th:replace="~{layouts/nav::nav}"></nav>
		
		<section class="productos">
			
			<h2>Productos para mascotas</h2>
			
			<a th:href="@{/producto/nuevo}" class="btn-add">
				<img src="../images/boton-mas.png"/>
				 <span class="tooltiptext">Nuevo Producto</span>
			</a>
			
			<ul>
				<li th:each="prod:${lista}" class="lista-producto">
					<div class="content-producto-detalle">
						<p th:text="${prod.calcularDescuento()} +'   %'+ ${prod.descuento}" ></p>
					</div>
					<label>nombre del producto:</label>
					<h3 th:text="${prod.nombre}"></h3>
					<label>codigo del producto:</label>
					<p th:text="${prod.codigo}" ></p>
					<label>categoria del producto:</label>
					<p th:text="${prod.categoria}" ></p>
					
					
					
					
					
					<img src="../images/al1.png" alt="Alimento para perros Advance">
					<div  class="btn-acciones">
						<a th:href="@{/producto/editar/} + ${prod.nombre}">
						<img src="../images/editar.png"/>
				 		<span class="tooltiptext">Editar Producto</span>
					</a>
					<a th:href="@{/producto/eliminar/} + ${prod.nombre}">
						<img src="../images/eliminar.png"/>
				 		<span class="tooltiptext">Eliminar Producto</span>
					</a>
					</div>
					
					
					
				</li>
			</ul>
			<br> 
		</section>
		
		 <footer th:replace="~{layouts/footer::footer}"></footer>
	</body>
</html>