<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layouts/head::head}">

</head>

<body>
	<header th:replace="~{layouts/header::header}"></header>

	<nav th:replace="~{layouts/nav::nav}"></nav>



	<section class="productos">

		<h2>Productos para mascotas</h2>


		<h3 class="titulo-sub"
			th:text="${lista.size()}? '':'No hay productos cargados, puede agregar con el boton que esta abajo a la derecha'">
		</h3>






		<!-- <a th:href="@{/producto/nuevo}" class="btn-add btn btn-secondary" data-bs-toggle="tooltip"
			data-bs-placement="top" data-bs-title="Nuevo Producto">
			<i class="fa-solid fa-plus"></i>
		</a> -->

		<div class="row g-0">
			<div class="card  col-xs-12 col-md-3 col-sm-4  m-4 bg-light card border-dark center"
				th:each="prod:${lista}">

				<img th:src="@{'/uploads/'+${prod.imagen}}" alt="Alimento para perros Advance" class="card-img-top">
				<div class="card-body">

					<!-- <l class="lista-producto"> -->



					<h3 class="fs-1" th:text="${prod.nombre}"></h3>

					<p class="fs-5"
						th:text=" '$ ' + ${prod.calcularDescuento()} +' descuento de  %'+ ${prod.descuento}"></p>


					<div class="content-producto-detalle">

						<label class="fs-6">codigo : </label>
						<p class="fs-6" th:text="${prod.codigo}"></p>
					</div>

					<div class="content-producto-detalle">
						<label class="fs-6">categoria : </label>
						<p class="fs-6" th:text="${prod.categoria.nombre}"></p>

					</div>
				</div>






				<!-- <div class="row card-footer g-0 ">
					<div class="col-6">

						<a class="d-flex btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
							data-bs-title="Editar Producto" th:href="@{/producto/editar/} + ${prod.codigo}">
							<i class="fa-regular fa-pen-to-square  m-auto"></i>

						</a>

					</div>
					<div class="col-6">
						<a class="d-flex btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
							data-bs-title="Eliminar Producto" th:href="@{/producto/eliminar/} + ${prod.codigo}">
							<i class="fa-solid fa-trash m-auto"></i>

						</a>

					</div>
				</div> -->

				</li>

			</div>
		</div>
	</section>

	<footer th:replace="~{layouts/footer::footer}"></footer>
</body>

</html>