<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:replace="~{layouts/head :: head}"></head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<div id=container-mid>
			<section class="consejos">
				<h3>Consejos de salud para cuidar a tu mascota:</h3>
					<ul>
						<li>Mantén a tu mascota al día con sus vacunas: Es importante que tu mascota esté al día con sus vacunas para protegerla contra enfermedades peligrosas. Consulta con tu veterinario para determinar qué vacunas son necesarias para tu mascota.</li>
						<li>Dale una dieta equilibrada: Una dieta equilibrada es esencial para la salud de tu mascota. Asegúrate de proporcionarle una alimentación adecuada y evitar darle alimentos que no sean adecuados para su especie.</li>
						<li>Ejercicio regular: Al igual que los humanos, los animales necesitan hacer ejercicio regularmente para mantenerse en forma y saludables. Asegúrate de proporcionarle a tu mascota suficiente actividad física diaria.</li>
						<li>Mantén su higiene: Es importante mantener a tu mascota limpia y libre de pulgas, garrapatas y otros parásitos. Baña y cepilla a tu mascota regularmente y asegúrate de proporcionarle atención veterinaria regular para detectar cualquier problema de salud.</li>
						<li>Evita productos tóxicos: Muchos productos del hogar, como plantas y productos químicos, pueden ser tóxicos para las mascotas. Mantén estos productos fuera del alcance de tu mascota para evitar cualquier peligro.</li>
						<li>Monitorea su salud dental: La salud dental es importante para la salud general de tu mascota. Asegúrate de cepillarle los dientes regularmente y proporcionarle juguetes adecuados para ayudar a mantener sus dientes limpios y sanos.</li>
						<li>Presta atención a su comportamiento: Tu mascota no puede decirte cuándo algo no está bien, por lo que es importante prestar atención a su comportamiento y detectar cualquier cambio que pueda indicar un problema de salud. Si notas algún cambio en el comportamiento de tu mascota, consulta a tu veterinario.</li>
						<li>Proporciona un ambiente seguro: Mantén a tu mascota en un ambiente seguro y protegido, lejos de peligros potenciales como calles transitadas, cuerpos de agua y productos químicos peligrosos.</li>
					</ul>
			</section>
			<aside th:replace="~{layouts/aside :: aside}"></aside>	
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>