<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Consejos de salud</title>
	</head>
	<body>
		<header id=inicio>
			<h1>Tienda de mascotas pata de Oro</h1>
			<img src="../static/images/logoT.jpg" alt="Logo de tienda" title="Un logo con un perro y gato">
		</header>
		<section>
			<h2>Productos para mascotas</h2>
			<ul>
				<li>
					<h3>Alimento Advance premium</h3>
					<p>Alimento para perros adultos / 20Kg</p>
					<img src="../static/images/al1.png" alt="Alimento para perros Advance" width="300">
				</li>
				<li>
					<h3>Alimento Whiskas</h3>
					<p>Alimento para gatos en cualquier etapa / 10Kg</p>
					<img src="../static/images/al2.jpg" alt="Alimento para gatos whiskas" width="200">	
				</li>
				<li>
					<h3>Alimento Tetra Goldfish</h3>
					<p> Alimento principal especialmente recomendado para peces del tipo Goldfish, telescopicos, ornadas, escama de perlas, carassius, y pequeños / 200 g</p>
					<img src="../static/images/al3.png" alt="Alimento para peces Tetra" width="250">	
				</li>
				<li>
					<h3>Alimento Nelsoni Ranch</h3>
					<p>Alimento para aves mix silvestre / 750g</p>
					<img src="../static/images/al4.jpg" alt="Alimento para aves NELSONI RANCH" width="200">
				</li>
				<li>
					<h3>Juguete Pelota</h3>
					<p>Para perro / De goma /63Mm</p>
					<img src="../static/images/al5.jpg" alt="Pelota de goma para perro" width="250">
				</li>
				<li>
					<h3>Cama Palette para mascota</h3>
					<p>Para gatos/perros / Tamaño:Medio </p>
					<img src="../static/images/al6.jpg" alt="Cama para mascota" width="350">
				</li>
			</ul>
			<br>
			<div>
                <a href="index.html">Volver >> </a>
            </div>   
		</section>
		<footer>
			<p>Copyright 2023 - Tienda de mascotas pata de Oro - Diseñado por Grupo 17 - Jujuy - República Argentina</p>
		</footer>
	</body>
</html>