<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/head :: head}"></head>
<body>
    <header th:replace="~{layouts/header::header}"></header>
    <nav th:replace="~{layouts/nav :: nav}"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3">
                <h2 th:text="${tituloForm}"></h2>                
            </div>
        </div>
        <div class="container">
            <div class="card mt-2 mb-5">
                <form class="row g-3" th:action="@{/empleados/guardar}" th:object="${empleado}" method="post">
                    <input type="hidden" th:field="*{codigo}">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" th:field="*{apellido}">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <label for="nombre" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <label for="anio" class="form-label">Año Ingreso</label>
                        <input type="text" class="form-control" id="anio" th:field="*{anioIngreso}">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                </form>
                <!-- <form class="row g-3" th:action="@{/empleados/guardar}" th:object="${empleado}" method="post">
                    <input type="hidden" th:field="*{codigo}">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" th:field="*{apellido}">
                        <div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <label for="nombre" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
                        <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <label for="anio" class="form-label">Año Ingreso</label>
                        <input type="number" class="form-control" id="anio" th:field="*{anioIngreso}">
                        <div class="text-danger" th:if="${#fields.hasErrors('anioIngreso')}" th:errors="*{anioIngreso}"></div>
                    </div>
                    <div class="col-12 mb-3 ">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                </form> -->
            </div>
        </div>
        <div class="row">
            <div class="table-resoponsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">N° Empleado</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Año ingreso</th>
                            <th scope="col">Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="empleado : ${empleados}">
                            <th scope="row" th:text="${empleado.codigo}"></th>
                            <td th:text="${empleado.apellido}"></td>
                            <td th:text="${empleado.nombre}"></td>
                            <td th:text="${empleado.anioIngreso}"></td>
                            <td>
                                <a th:href="@{/empleados/editar/}+${empleado.codigo}" class="btn btn-warning">Editar</a>
                                <a th:href="@{/empleados/eliminar/}+${empleado.codigo}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer  th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>