<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layouts/head::head}"></head>

<body>
    <header th:replace="~{layouts/header::header}"></header>
    <nav th:replace="~{layouts/nav::nav}"></nav>

    <div class="container-fluid">
        <div class="row">
            <div class="contenido">
                <div class="contenedor-paseos">
                    <div class="titulo-seccion">
                        <div class="titulo-tabla">
                            <h2 class="text-center">Listado de Servicios</h2>
                            <!-- se hace una rediccion para nuevo servicio -->
                            <a th:href="@{/servicio/nuevo}"><i class="fa-sharp fa-solid fa-circle-plus fs-1"
                                    title="Agregar"></i></a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-info">
                                    <th scope="col">ID</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Día</th>
                                    <th scope="col">Horario</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- se cambia el listado -->
                                <tr th:each="servicio : ${servicios}">
                                    <td class="align-middle" th:text="${servicio.id}"></td>
                                    <td class="align-middle" th:text="${servicio.apellido}"></td>
                                    <td class="align-middle" th:text="${servicio.nombreEmpleado}"></td>
                                    <td class="align-middle" th:text="${servicio.nombre}"></td>
                                    <td class="align-middle" th:text="${servicio.dia}"></td>
                                    <td class="align-middle" th:text="${servicio.horario}"></td>
                                    <td>
                                        
                                        <a th:href="@{/servicio/editar/}+${servicio.id}" class="btn btn-warning" title="editar"><i class="fa-sharp fa-solid fa-pen-to-square fs-6" style="color: #08093d;"></i> </a>
                                        <a th:href="@{/servicio/eliminar/}+${servicio.id}" class="btn btn-danger" title="eliminar"><i class="fa-sharp fa-solid fa-trash-can fs-6" style="color: #ebeff4;"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>

            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 content-aside">
                <aside th:replace="~{layouts/aside::aside}"></aside>
            </div> -->
        </div>


    </div>

    <footer th:replace="~{layouts/footer::footer}"></footer>
</body>

</html>