<!DOCTYPE html>
	<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Trabajo practico 2</title>
	</head>
	<body>
		<header id=inicio>
			<h1>Tienda de mascotas pata de Oro</h1>
			<img src="../static/images/logoT.jpg" alt="Logo de tienda" title="Un logo con un perro y gato">
		</header>
			
		<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="creacion_de_productos.html">Productos</a></li>
				<li><a href="creacion_consejos_de_salud.html">Consejos de salud</a></li>
				<li><a href="servicios-paseos.html">Servicio de paseo</a></li>
				<li><a href="Sucursales.html">Sucursales</a></li>
				<li><a href="contactenos.html">Contactenos</a></li>
			</ul>
		</nav>	
	</body>
</html>