<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Pata de Oro</title>
	
	<link rel="stylesheet" href="../static/css/estilo.css" />
</head>

<body>
	<header id=inicio>
		<img src="../static/images/logoT.jpg" alt="Logo de tienda" title="Un logo con un perro y gato" class="imagen">
		<h1 class="titulo">Tienda de mascotas pata de Oro</h1>
	</header>
	<nav>
		<ul class="lista">
			<li><a href="index.html">Inicio</a></li>
			<li><a href="creacion_de_productos.html">Productos</a></li>
			<li><a href="creacion_consejos_de_salud.html">Consejos de salud</a></li>
			<li><a href="servicios-paseos.html">Servicio de paseo</a></li>
			<li><a href="Sucursales.html">Sucursales</a></li>
			<li><a href="contactenos.html">Contactenos</a></li>
		</ul>
	</nav>
	<div id="container-principal">
		<section class="principal">
			<h3>Tienda para mascotas y animales</h3>
			<article>
				"Bienvenido a Pata de Oro, la mejor tienda para mascotas en la ciudad. Somos una empresa comprometida con el bienestar y la felicidad de tus peludos amigos. Contamos con una amplia variedad de productos y servicios de alta calidad para atender todas las necesidades de tus mascotas. Nuestro equipo de profesionales altamente capacitados está siempre dispuesto a brindarte la mejor atención y asesoramiento para que puedas tomar las mejores decisiones para tus amigos de cuatro patas. ¡Ven y conoce todo lo que tenemos para ofrecerte en Pata de Oro!"
			</article>
			<h3>Objetivos</h3>
			<article>
				Contribuimos a crear un mundo mejor, ayudando a amar y proteger a sus mascotas. Basados en nuestro equipo de trabajo somos solidarios socialmente, brindando la mayor cantidad de trabajo posible, innovando constantemente y logrando un prestigio que nos haga perdurar en el tiempo. Invirtiendo e innovando en proyectos para ampliar la estructura y seguir creciendo en otras ciudades. Aportando y participando solidariamente para crear una comunidad inclusiva y el cuidado del medio ambiente.
			</article>
		</section>
		<aside class="content-aside2">
				<h3>Tambien le puede interesar: </h3>
				<ul>
					<li><a href="https://www.royalcanin.es/articulos/alimentacion-y-nutricion-para-perros-y-gatos"
							target="_blank">Dieta equilibrada para mascotas.</a></li>
					<li><a href="https://essentialspetcare.com/es/what-vaccines-do-dogs-need-yearly/"
							target="_blank">Vacunas para mascotas.</a></li>
					<li><a href="https://www.rover.com/es/blog/guia-para-hacer-ejercicio-con-tu-perro-en-casa/"
							target="_blank">Ejercicio para mascotas.</a></li>
					<li><a href="https://www.purina-latam.com/mx/purina/nota/perros/higiene-en-mascotas"
							target="_blank">Higiene para mascotas.</a></li>
					<li><a href="https://www.fda.gov/animal-veterinary/animal-health-literacy/articulos-potencialmente-peligrosos-para-su-mascota"
							target="_blank">Productos tóxicos para mascotas.</a></li>
				</ul>
		</aside>
	</div>
	<footer class="classefooter">
		<p>Copyright 2023 - Tienda de mascotas pata de Oro - Diseñado por Grupo 17 - Jujuy - República Argentina</p>
	</footer>
</body>
</html>