<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:replace="~{layouts/head :: head}"></head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<div class="form_consejos">
		    <div class="d-flex justify-content-center">
		        <div class="col-lg-5">
		            <h1 class="text-center">Formulario Consejo</h1>
		            <form action="/consejos/agregar" method="post">
		                <div>
		                    <label for="consejo">Consejo:</label>
		                    <textarea class="form-control" id="consejo" name="consejo" rows="5" required></textarea>
		                </div>
		                <div class="text-center">
		                    <button type="submit" class="btn btn-primary">Guardar</button>
		                </div>
		            </form>
		        </div>
		    </div>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
	