<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/head::head}"></head>
<body>
    <header th:replace="~{layouts/header::header}"></header>
    <nav th:replace="~{layouts/nav::nav}"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contenido">
                <div class="row justify-content-evenly"> 
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 formulario">
                        <h2 th:text="${tituloFormulario}"></h2>
                        <form th:action="${nuevo} ? @{/servicio/guardar} : @{/servicio/editar}" th:object="${servicio}" method="post">
                            <div>
                                <input type="text" hidden="true" th:field="*{id}">
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Servicio:</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre del servicio" th:field="*{nombre}">
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                            </div>
                            <div class="mb-3">
                                <label for="apellido" class="form-label">Apellido:</label>
                                <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" th:field="*{apellido}">
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombres:</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombres" th:field="*{nombres}">
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></div>
                            </div>
        
                            <div class="mb-3">
                                <label for="horario" class="form-label">Horario:</label>
                                <input type="text" class="form-control" id="horario" placeholder="Ingrese horario" th:field="*{horario}">
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}"></div>
                            </div>
        
                            <div>
                                <button th:class="${nuevo} ? 'btn btn-success mb-2':'btn btn-warning mb-2'" type="submit" th:text="${textoBoton}">                            
                                </button>
                            </div>
        
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 content-aside">
                <aside th:replace="~{layouts/aside::aside}"></aside>
            </div>
        </div>
    </div>

    <footer th:replace="~{layouts/footer::footer}"></footer>
</body>
</html>