<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/head::head}"></head>
<body>
    <header th:replace="~{layouts/header::header}"></header>
    <nav th:replace="~{layouts/nav::nav}"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contenido">
                <div class="row justify-content-evenly"> 
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 formulario">
                        <h2 th:text="${tituloFormulario}"></h2>
                        
                        <form th:action="@{/servicio/guardar}" th:object="${servicio}" method="post">
                            <div>
                                <input type="text" hidden="true" th:field="*{id}">
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Servicio:</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre del servicio" th:field="*{nombre}">
                                <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="empleado" class="form-label">Empleado</label>
                                <select name="empleado" id="empleado" class="form-select" th:field="*{empleado.codigo}">                                    
                                    <option th:each="empleado : ${empleados}" th:value="${empleado.codigo}"
                                        th:text="${empleado.apellido}+' '+${empleado.nombre}"></option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('empleado')}" th:errors="*{empleado}"></div>
                            </div>
                            <div class="mb-3">
                                <label for="dia" class="form-label">Día:</label>
                                <select class="form-select form-control-sm" th:field="*{dia}">
                                    <option value="">Escriba o seleccione un día</option>
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miercoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sabado">Sabado</option>
                                    <option value="Domingo">Domingo</option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('dia')}" th:errors="*{dia}"></div>
                                
                            </div>
        
                            <div class="mb-3">
                                <label for="horario" class="form-label">Horario:</label>
                                <input type="text" class="form-control" id="horario" placeholder="Ingrese horario" th:field="*{horario}">
                                <div class="text-danger" th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}"></div>
                            </div>
        
                            <div>
                                <button th:if="${!empleadoVacio}" th:class="${nuevo} ? 'btn btn-success mb-2':'btn btn-warning mb-2'" type="submit" th:text="${textoBoton}">                            
                                </button>
                            </div>
                            <div th:if="${empleadoVacio}" class="alert alert-danger">
                                <p>No hay empleados registrados para asignar servicios</p>
            
                            </div>
        
                        </form>


                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 content-aside">
                <aside th:replace="~{layouts/aside::aside}"></aside>
            </div>
        </div>
    </div>

    <footer th:replace="~{layouts/footer::footer}"></footer>
</body>
</html>