<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sucursales</title>
</head>

	<header id=inicio>
		<h1>Tienda de mascotas pata de Oro</h1>
		<img src="../static/images/logoT.jpg" alt="Logo de tienda" title="Un logo con un perro y gato">
	</header>
	
<body>
	<h1>Visite nuestras tiendas</h1>
	<p> Les invitamos a visitar nuestros locales ubicados en los distintos barrios</p>
	<p> de la ciudad de San Salvador de Jujuy </p>
	<p> Articulos y demás</p>
	<img src="../static/images/tienda.jpg" alt="Minuatura de tienda" title="Un logo de una tienda png">
	<section>
            <h2>Sucursales Pata de Oro</h2>
            <table border="1">            
                <tr>
                    <th>Sucursal</th>
                    <th>Horario de Atención</th>
                    <th>Dirección</th>
                </tr>
                
                <tr>
                    <th>Alto Comedero</th>
                    <td>09:00hs - 20:00hs Lunes - Viernes <br> 09:00hs - 14:00hs Sábados <br> Cerrado Domingos y Feriados</td>
                    <td>Comandante de la Colina 1444</td>

                </tr>
                <tr>
                    <th>Almirante Brown</th>
                    <td>09:00hs - 21:00hs Lunes - Viernes <br> 09:00hs - 16:00hs Sábados <br> Cerrado Domingos y Feriados</td>
                    <td>Islas Malvinas 55</td>

                </tr>
                <tr>
                    <th>Centro</th>
                    <td>09:00hs - 21:00hs Lunes - Viernes <br> 09:00hs - 20:00hs Sábados <br> Cerrado Domingos y Feriados</td>
                    <td>Benito Bárcena 680</td>

                </tr> 
                <tr>
                    <th>Coronel Arias</th>
                    <td>09:00hs - 20:00hs Lunes - Viernes <br> 09:00hs - 18:00hs Sábados <br> Cerrado Domingos y Feriados</td>
                    <td>Triunvirato 950</td>

                </tr>            

            </table>
            <br>
            <div>
                <a href="index.html">Volver >> </a>
            </div>        
        </section>
    <footer>
		<p>Copyright 2023 - Tienda de mascotas pata de Oro - Diseñado por Grupo 17 - Jujuy - República Argentina</p>
	</footer>
</body>
</html>